name: Build (Linux)

on: [push, workflow_dispatch]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: Setup GCC and Ninja
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-11 ninja-build
        echo "CC=gcc-11" >> $GITHUB_ENV
        echo "CXX=g++-11" >> $GITHUB_ENV

    - name: Setup CUDA
      run: |
        wget -q https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/cuda-ubuntu2004.pin
        sudo mv cuda-ubuntu2004.pin /etc/apt/preferences.d/cuda-repository-pin-600
        sudo apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/3bf863cc.pub
        sudo add-apt-repository "deb https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64/ /"
        sudo apt-get update
        sudo apt-get install -y cuda-nvcc-11-7 cuda-cudart-dev-11-7 cuda-nvrtc-dev-11-7
        echo "PATH=/usr/local/cuda/bin${PATH:+:${PATH}}" >> $GITHUB_ENV
        echo "CUDA_PATH=/usr/local/cuda" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=/usr/local/cuda/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}" >> $GITHUB_ENV

    - name: Download AviSynth+ headers
      run: |
        wget -q -O avs+.zip https://github.com/AviSynth/AviSynthPlus/archive/refs/tags/v3.7.1a.zip
        unzip -q avs+.zip
        mv AviSynthPlus*/ avisynth+

    - name: Download VapourSynth headers
      run: |
        wget -q -O vs.zip https://github.com/vapoursynth/vapoursynth/archive/refs/tags/R57.zip
        unzip -q vs.zip
        mv vapoursynth*/ vapoursynth

    - name: Configure
      run: cmake -S . -B build -G Ninja
        -D USE_NVRTC_STATIC=ON
        -D ENABLE_AVISYNTHPLUS=ON
        -D AVISYNTHPLUS_INCLUDE_DIRECTORY="`pwd`/avisynth+/avs_core/include"
        -D ENABLE_VAPOURSYNTH=ON
        -D VAPOURSYNTH_INCLUDE_DIRECTORY="`pwd`/vapoursynth/include"
        -D CMAKE_BUILD_TYPE=Release
        -D CMAKE_CXX_FLAGS_RELEASE="-ffast-math"
        -D CMAKE_CUDA_FLAGS="--threads 0 --use_fast_math --resource-usage -Wno-deprecated-gpu-targets"
        -D CMAKE_CUDA_ARCHITECTURES="35-real;50;61-real;75-real;86"

    - name: Build
      run: cmake --build build --verbose

    - name: Install
      run: cmake --install build --prefix artifact

    # - name: Upload
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: BM3DCUDA-Linux
    #     path: artifact
